body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .quiz-container {
    max-width: 600px;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 30px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
  }
  
  #question {
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  #answer-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .btn {
    display: inline-block;
    width: 45%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  #next-btn {
    display: none;
  }
  
  #result {
    margin-bottom: 20px;
    color: #28a745;
    font-size: 18px;
  }
  
  .page{
    text-decoration: none;
    color: yellow;
    text-align: center;
  }
  #correct-answer {
    display: none;
    color: #dc3545;
    font-size: 16px;
  }
  @media only screen and (max-width: 600px) {
    body {
      display: flex; /* Используем flexbox для выравнивания */
      justify-content: center; /* Выравнивание по горизонтали */
      align-items: center; /* Выравнивание по вертикали */
      padding: 0; /* Удаляем внешние отступы */
      height: 100vh; /* Занимаем всю высоту окна браузера */
    }
  
    .quiz-container {
      padding: 20px; /* Увеличиваем внутренние отступы */
      max-width: 90%; /* Занимаем 90% ширины экрана */
      box-shadow: none; /* Удаляем тень */
    }
  
    h2 {
      font-size: 24px; /* Уменьшаем размер шрифта заголовка */
      margin-bottom: 20px; /* Уменьшаем отступ после заголовка */
    }
  
    #answer-input {
      font-size: 14px; /* Уменьшаем размер шрифта в поле ввода */
    }
  
    .btn {
      width: 100%; /* Занимаем всю ширину экрана */
      margin-top: 10px; /* Уменьшаем отступ между кнопками */
    }
    #answer-input {
      font-size: 14px;
    }
    
    #resultsContainer {
      padding: 20px;
      max-width: 90%;
      box-shadow: none;
    }
  
    #resultsContainer h2 {
      font-size: 20px;
      margin-bottom: 15px;
    }
  
    #resultsContainer p {
      font-size: 16px;
    }
    }
  
  


 